@media (min-width: 700px) {
  .menu-mobile {
    display: none;
  }
  .contenido-menu {
    display: none;
  }

  /* HEADER */

  header {
    width: calc(100% - 128px);
    max-height: calc(150px - 48px);
    padding: 24px 64px;
    justify-content: flex-start;
  }
  .logo {
    height: 48px;
  }
  .a {
    cursor: pointer;
  }
  nav {
    margin-left: auto;
  }
  .links {
    display: flex;
    gap: 24px;
  }

  .logo {
    margin-right: 24px;
  }
  .menu-desktop {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .menu-desktop ul {
    display: flex;
  }

  .dropdown-button {
    background-color: transparent;
    padding: 0;
    border: none;
    display: flex;
    gap: 8px;
  }
  .chevron {
    height: 14px;
    transition: transform 0.4s ease-in-out;
  }
  .chevron.rotated {
    transform: rotate(180deg);
  }
  .contenido-dropdown {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 99;
    top: 28px;
    left: -8px;
  }
  .contenido-dropdown li {
    display: none;
    font-size: 14px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    padding: 6px 24px;
    text-align: center;
  }
  /* CARRUSEL*/
  .carrusel {
    position: relative;
    width: 100%;
    max-width: 700px;
    margin: 50px auto;
    overflow: hidden;
  }

  .imagenes-carrusel {
    position: relative;
    width: 100%;
    height: 400px;
  }

  .imagenes-carrusel img {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }

  .imagenes-carrusel img.activo {
    opacity: 1;
  }

  .botones-carrusel {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
  }

  .boton-carrusel {
    width: 15px;
    height: 15px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .boton-carrusel.activo {
    background-color: rgb(164, 214, 94);
  }

  /* NOTICIAS */

  .noticia {
    max-width: 700px;
    height: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .imagen-noticia {
    order: 0;
    height: 100%;
    min-width: 50%;
  }

  .contenido-noticia {
    padding: 0 48px;
  }

  /* FOOTER */

  .footer {
    flex-direction: row;
    padding: 24px 0;
    max-width: 600px;
    max-height: 175px;
  }

  .contacto {
    flex-direction: column;
    align-items: flex-start;
  }

  .datos-contacto {
    margin: 0;
    text-align: left;
  }
  .redes-contacto {
    margin: 0;
  }

  .seccion-patrocinadores {
    align-items: flex-start;
  }
  .patrocinadores {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }

  /* RESERVAS */
  .reservas {
    grid-template-columns: 1fr 1fr;
  }

  .ultima-reserva {
    grid-column: 1 / 3;
  }

  /* FORMULARIO RESERVA  */

  .seccion-reserva {
    padding: 0 24px;
  }
  .form-reserva {
    width: 100%;
    padding: 2rem 4rem;
    margin-bottom: 24px;
  }
  .input-reserva {
    width: 100%;
  }

  .label-reserva {
    padding-left: 2rem;
  }

  .par {
    grid-template-columns: 1fr 2fr;
  }
}
