@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,600&display=swap");

body {
  font-family: "Open Sans";
  margin: 0;
}
h1 {
  margin: 0;
}
h2 {
  margin: 0;
}
p {
  margin: 0;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: black;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}

input {
  margin: 0;
  padding: 0;
  border: none;
}

select {
  margin: 0;
  padding: 0;
  border: none;
}

/* HEADER */
header {
  width: calc(100% - 48px);
  background-color: rgba(164, 214, 94, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 24px;
}

.logo {
  height: 42px;
}

.titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  position: relative;
}
.menu-desktop {
  display: none;
}
.menu {
  width: 18px;
}
.boton-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background-color: rgb(164, 214, 94);
  border: none;
}

.contenido-menu {
  display: none;
  position: absolute;
  z-index: 99;
  top: 48px;
  right: -24px;
  background-color: rgb(164, 214, 94);
  padding: 8px 24px;
}

.contenido-menu ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contenido-menu li {
  width: 100%;
  text-align: center;
  padding: 8px 0;
}

.contenido-menu li:not(:last-child) {
  border-bottom: 1px solid black;
}

/* CARRUSEL*/
.carrusel {
  position: relative;
  width: 100%;
  max-width: 700px;
  margin: 0 auto 50px;
  overflow: hidden;
}

.imagenes-carrusel {
  position: relative;
  width: 100%;
  height: 350px;
}

.imagenes-carrusel img {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.imagenes-carrusel img.activo {
  opacity: 1;
}

.botones-carrusel {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.boton-carrusel {
  width: 15px;
  height: 15px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}
.boton-carrusel.activo {
  background-color: rgb(164, 214, 94);
}

/*NOTICIAS*/

.seccion-noticias {
  text-align: center;
}

.seccion-noticias h1 {
  margin-bottom: 32px;
}
.noticias {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 32px;
  margin-bottom: 32px;
  padding: 24px;
}

.noticia {
  width: 100%;
  max-width: 700px;
  max-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(164, 214, 94, 0.5);
  margin: 0 auto;
}

.imagen-noticia {
  order: -1;
  width: 100%;
  height: 50%;
  object-fit: cover;
  align-self: center;
}

.contenido-noticia {
  min-height: 50%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  text-align: center;
}

.contenido-noticia h2 {
  font-size: 16px;
  margin-bottom: 24px;
}

.contenido-noticia p {
  font-size: 14px;
  line-height: 1.4;
}

/* BOTON VER MÃS*/

.ver-mas {
  background-color: rgba(164, 214, 94);
  color: black;
  font-size: 12px;
  border-radius: 16px;
  padding: 12px 56px;
  margin: 0 auto;
}

/* FOOTER */

footer {
  background-color: rgba(164, 214, 94, 0.5);
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  margin: 0 auto;
  padding: 32px;
}

.contacto {
  display: flex;
  width: 100%;
  max-width: 500px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
}
.datos-contacto {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin: 0 auto;
  text-align: center;
}
.redes-contacto {
  display: flex;
  gap: 24px;
  margin: 0 auto;
}

.redes-contacto img {
  width: 32px;
}

.seccion-patrocinadores {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.patrocinadores {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.patrocinador-container {
  display: flex;
}
.patrocinador {
  height: 64px;
}

/* RESERVAS*/

.seccion-reservas {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 24px;
  margin-bottom: 48px;
}

.seccion-reservas h1 {
  margin: 32px 0;
}

.reservas {
  display: grid;
  gap: 48px;
}

.reserva {
  background-color: rgba(164, 214, 94, 0.5);
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding-bottom: 32px;
  height: 312px;
}

.reserva img {
  width: 100%;
  height: 60%;
  object-fit: cover;
}

.boton-reserva {
  background-color: rgb(164, 214, 94);
  color: black;
  font-size: 12px;
  border-radius: 4px;
  padding: 12px 56px;
  margin: 0 auto;
  border: none;
  cursor: pointer;
}

/* FORMULARIO RESERVA */

.seccion-reserva {
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.seccion-reserva h1 {
  margin: 32px 0;
}
.form-reserva {
  padding: 2rem;
  justify-content: center;
  width: calc(100% - 4rem);
  max-width: 400px;
  display: grid;
  grid-template-rows: repeat(7 1.5fr);
  grid-template-columns: 1fr;
  align-items: center;
  gap: 2rem;
  font-size: 18px;
  background-color: rgba(164, 214, 94, 0.3);
  padding: 2rem;
}

.par {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

.input-reserva {
  background-color: #fff;
  display: flex;
  align-content: flex-start;
  height: 30px;
  align-items: center;
  border: 1px solid black;

  & > input {
    width: 100%;
    height: 100%;
    padding-left: 12px;
  }

  & > select {
    width: 100%;
    height: 100%;
    padding-left: 12px;
  }
}

.label-reserva {
  padding: 0 0 8px 0;
}
